<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hopeforAll.hopefanc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HopeFanc"
        android:usesCleartextTraffic="true">
        <activity android:name="com.hopeforAll.hopefanc.Splash"
            android:theme="@style/Theme.HopeFanc.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hopeforAll.hopefanc.ProfileActivity"
            android:theme="@style/Theme.HopeFanc.NoActionBar" />
        <activity
            android:name="com.hopeforAll.hopefanc.GoogleSignInActivity"
            android:theme="@style/Theme.HopeFanc.NoActionBar" />
        <activity android:name="com.hopeforAll.hopefanc.splashActivity">

        </activity>
        <activity android:name="com.hopeforAll.hopefanc.NavigatorActivity" />
    </application>

</manifest>